@model GamesLibMVC.Models.GameInfo

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Developer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Developer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GameInfoID">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
